body{
    background-color: beige;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    background-color: rgb(242, 235, 227);
    padding:20px;
    border-radius: 10px;
}
ol li{
    padding:10px;
}
ol li input{
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: rgb(238, 236, 236);
}
ol li input:hover{
    background-color:white ;
}
hr{
    border: 1px solid black;
}
.question p{
    font-size: 20px;
}
.nextButton{
    margin-left: 100px;
    padding:10px 0px;
    padding-left: 80px;
    border:1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
}
.nextButton:hover{
    background-color: rgb(219, 183, 135);
    transition: 1s;
}
.score{
    font-size: 20px;
}