body{
    background-color: rgb(240, 240, 236);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    background-color: white;
    padding:20px;
    border-radius: 10px;
}
h2{
    text-align: center;
}
ol li{
    padding:10px;
}
ol li input{
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: rgb(238, 236, 236);
}
ol li input:hover{
    background-color:rgb(219, 214, 214) ;
    transition: 0.5s;
}
hr{
    border: 1px solid black;
}
.question p{
    font-size: 20px;
}
.nextButton{
    margin-left: 150px;
    padding:10px 20px;
    border:1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
}
.nextButton:hover{
    background-color: rgb(239, 214, 181);
    transition: 1s;
}
.score{
    font-size: 20px;
}
@media (max-width:460px)
{
    .container
    {
        width:300px;
    }
    .nextButton
    {
        margin-left: 110px;
    }
}